.mdb-select {
    line-height: 2 !important;
    width: calc(100% - 2.5rem);
    font-family: "Roboto", sans-serif;
    color: white;
    border-radius: 0;
    border: none;
    border-radius: 0;
    -webkit-appearance: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.699);
    background-color: transparent;
}