<div class="row">
    <div class="col-md-12">
        <div >
            <button type="button" mdbBtn class="relative waves-light clr-light mb-2" (click)="basicModal.show()" (click)="clearPendingFilters()" mdbWavesEffect>Add Search Option</button>        
        </div>
        </div>
        <div  *ngIf="filterChips.length > 0" class="col-md-12 mt-2">
            <div class="filter-container">
                <app-chip [text]="'Remove Filters'" [remove]="true" (output)="removeChips()"></app-chip>
                <div class="d-inline" *ngFor="let filter of filterChips">
                    <app-chip [text]="filter.text" [id]="filter.id"></app-chip>
                </div>
            </div>
        </div>
</div>


<div mdbModal #basicModal="mdbModal" class="modal fade bg-greyblue" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
    <div class="vertical-alignment-helper">
    <div class="modal-dialog vertical-align-center" role="document">
        <div class="modal-content">
        <div class="modal-body">
            <div class="container">
                <div *ngIf="filterType == null" class="row">
                    <div class="col-md-12 align-self-center text-center filter filter-border" (click)="changeFilterType('location')">
                        <p class="filter-type">Location</p>
                    </div>
                    <div class="col-md-12 align-self-center text-center filter filter-border" (click)="changeFilterType('dateTime')">
                        <p class="filter-type">Hours of Operation</p>
                    </div>
                    <div class="col-md-12 align-self-center text-center filter filter-border" (click)="changeFilterType('cuisine')">
                        <p class="filter-type">Type of Cuisine</p>
                    </div>
                </div>

                <div *ngIf="filterType == 'location'" class="row">
                    <div class="col-md-12 text-center">
                        <h5>Enter a town/city name or an address to find food establishments in that area!</h5>
                    </div>
                    <div class="col-md-10 text-center">      
                        <div class="md-form">
                            <app-instantsearch (onChange)="locFilter = $event.suggestion"></app-instantsearch>
                        </div>
                    </div>
                </div>

                <div *ngIf="filterType == 'dateTime'">
                <div class="align-self-center text-center">
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <h5>Select what operating hours you're looking for.</h5>
                                <hr>
                            </div>
                            <div class="col-md-12 mb-3">
                                <select [(ngModel)]="dateTimeFilter.day" class="browser-default custom-select">
                                    <option value="" disabled selected>Select a Day</option>
                                    <option value="Monday">Monday</option>
                                    <option value="Tuesday">Tuesday</option>
                                    <option value="Wednesday">Wednesday</option>
                                    <option value="Thursday">Thursday</option>
                                    <option value="Friday">Friday</option>
                                    <option value="Saturday">Saturday</option>
                                    <option value="Sunday">Sunday</option>
                                </select> 
                            </div>
                        </div>
                    <h5>Opening Time</h5>
                    <div class="row">
                        <div class="col-md-6">
                            <select [(ngModel)]="dateTimeFilter.openingTime.time" class="browser-default custom-select">
                                <option value="" disabled selected>Opening Time</option>
                                <option value="1:00">1:00</option>
                                <option value="2:00">2:00</option>
                                <option value="3:00">3:00</option>
                                <option value="4:00">4:00</option>
                                <option value="5:00">5:00</option>
                                <option value="6:00">6:00</option>
                                <option value="7:00">7:00</option>
                                <option value="8:00">8:00</option>
                                <option value="9:00">9:00</option>
                                <option value="10:00">10:00</option>
                                <option value="11:00">11:00</option>
                                <option value="12:00">12:00</option>
                            </select> 
                        </div>
                        <div class="col-md-6">
                            <select [(ngModel)]="dateTimeFilter.openingTime.zone" class="browser-default custom-select">
                                <option value="AM" selected>AM</option>
                                <option value="PM">PM</option>
                            </select>
                        </div>
                    </div>
                    <h5 class="mt-3">Closing Time</h5>
                    <div class="row">
                            <div class="col-md-6">
                                <select [(ngModel)]="dateTimeFilter.closingTime.time" class="browser-default custom-select">
                                    <option value="" disabled selected>Closing Time</option>
                                    <option value="1:00">1:00</option>
                                    <option value="2:00">2:00</option>
                                    <option value="3:00">3:00</option>
                                    <option value="4:00">4:00</option>
                                    <option value="5:00">5:00</option>
                                    <option value="6:00">6:00</option>
                                    <option value="7:00">7:00</option>
                                    <option value="8:00">8:00</option>
                                    <option value="9:00">9:00</option>
                                    <option value="10:00">10:00</option>
                                    <option value="11:00">11:00</option>
                                    <option value="12:00">12:00</option>
                                </select> 
                            </div>
                            <div class="col-md-6">
                                <select [(ngModel)]="dateTimeFilter.closingTime.zone" class="browser-default custom-select">
                                    <option value="AM">AM</option>
                                    <option value="PM" selected>PM</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div *ngIf="filterType == 'cuisine'" class="row">
                    <div class="col-md-12 align-self-center text-center">
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <h5>Select what type of food establishment you're looking for.</h5>
                                <hr>
                            </div>
                            <div class="col-md-12">
                                <select [(ngModel)]="cuisineFilter" class="browser-default custom-select">
                                    <option value="" disabled selected>Choose your option</option>
                                    <option value="Bar/Pub">Bar/Pub</option>
                                    <option value="Bakery">Bakery</option>
                                    <option value="Brewery">Brewery</option>
                                    <option value="Bistro">Bistro</option>
                                    <option value="Beer Garden">Beer Garden</option>
                                    <option value="Cafe/Coffee Shop">Cafe/Coffee Shop</option>
                                    <option value="Chinese">Chinese</option>
                                    <option value="Club">Club</option>
                                    <option value="Deli">Deli</option>
                                    <option value="Desserts">Desserts</option>
                                    <option value="Diner">Diner</option>
                                    <option value="Fine Dining">Fine Dining</option>
                                    <option value="Fast Food">Fast Food</option>
                                    <option value="Food Truck">Food Truck</option>
                                    <option value="Food Court">Food Court</option>
                                    <option value="Indian">Indian</option>
                                    <option value="Juice Bar">Juice Bar</option>
                                    <option value="Lounge">Lounge</option>
                                    <option value="Mexican">Mexican</option>
                                    <option value="Pizzeria">Pizzeria</option>
                                    <option value="Streakhouse">Steakhouse</option>
                                    <option value="Sandwich Shop">Sandwich Shop</option>
                                    <option value="Taqueria">Taqueria</option>
                                    <option value="Thai">Thai</option>
                                    <option value="Wine Bar">Wine Bar</option>
                                </select> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            <div *ngIf="filterType">
                <div *ngIf="!locFilter && !checkDateTimeFilter() && !cuisineFilter" class="modal-footer disabled justify-content-center" aria-label="Close" (click)="basicModal.hide()">
                    <h5 class="align-self-center text-center">add search option</h5>
                </div>
                <div *ngIf="locFilter || checkDateTimeFilter() || cuisineFilter" class="modal-footer justify-content-center" aria-label="Close" (click)="basicModal.hide()" (click)="addFilter()">
                    <h5 class="align-self-center text-center text-primary">add search option</h5>
                </div>
            </div>
            <div class="modal-footer justify-content-center" aria-label="Close" (click)="basicModal.hide()">
                <h5 class="align-self-center text-center">close</h5>
            <!-- <button *ngIf="filterType" type="button" mdbBtn color="primary" class="waves-light" (click)="filterType = null" mdbWavesEffect>Go Back</button> -->
            <!-- <button type="button" mdbBtn color="info" class="waves-light" aria-label="Close" (click)="basicModal.hide()" mdbWavesEffect>Close</button> -->
            </div>
        </div>
    </div>
  </div>
</div>
